@import "tailwindcss";


@theme{
  --color-primary:#5a189a;
  --color-dark:#0a0908;
  --color-light:#fdfffc;


}


@layer utility {
  .bg-dark{
    background-color: var(--color-dark);
  }
  .text-primary{
    color: var(--color-primary);
  }
}

.dark-bg {
  position: relative;
  background: #0a0908;
}

.dark-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at 30% 20%, rgba(140, 30, 230, 0.18), transparent 60%),
              radial-gradient(circle at 70% 80%, rgba(255, 150, 255, 0.10), transparent 70%),
              radial-gradient(circle at 50% 50%, rgba(100, 40, 200, 0.15), transparent 80%);
  filter: blur(80px);
  z-index: 0;
}